In [4]:
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
# Parámetros
params = {
    'Contigo_A': {'loan_amount': 1000, 'interest_rate': 0.15, 'dq_rate': 0.135, 'initial_customers': 5000, 'growth_rate': 0.25},
    'Contigo_B': {'loan_amount': 2000, 'interest_rate': 0.10, 'dq_rate': 0.08, 'initial_customers': 10000, 'growth_rate': 0.10},
    'operational_cost_per_account': 30,
    'months': 12
}

# Data frame para almacenar resultados
results = pd.DataFrame(index=range(params['months']))

# Crear un ciclo en un rango de 12 (meses del año)
for product in ['Contigo_A', 'Contigo_B']:
    initial_customers = params[product]['initial_customers']
    growth_rate = params[product]['growth_rate']
    customers = [initial_customers]

    for month in range(1, params['months']):
        customers.append(customers[-1] * (1 + growth_rate))
    
    results[f'{product}_customers'] = customers
    results[f'{product}_loan_amount'] = params[product]['loan_amount']
    results[f'{product}_interest_rate'] = params[product]['interest_rate']
    results[f'{product}_dq_rate'] = params[product]['dq_rate']
    results[f'{product}_gross_income'] = results[f'{product}_customers'] * params[product]['loan_amount'] * params[product]['interest_rate']
    results[f'{product}_dq_loss'] = results[f'{product}_customers'] * params[product]['loan_amount'] * params[product]['dq_rate']
    results[f'{product}_operational_cost'] = results[f'{product}_customers'] * params['operational_cost_per_account']
    results[f'{product}_net_income'] = results[f'{product}_gross_income'] - results[f'{product}_dq_loss'] - results[f'{product}_operational_cost']

# Calcular ingresos netos totales
results['total_net_income'] = results['Contigo_A_net_income'] + results['Contigo_B_net_income']

results

,Contigo_A_customers,Contigo_A_loan_amount,Contigo_A_interest_rate,Contigo_A_dq_rate,Contigo_A_gross_income,Contigo_A_dq_loss,Contigo_A_operational_cost,Contigo_A_net_income,Contigo_B_customers,Contigo_B_loan_amount,Contigo_B_interest_rate,Contigo_B_dq_rate,Contigo_B_gross_income,Contigo_B_dq_loss,Contigo_B_operational_cost,Contigo_B_net_income,total_net_income
0,5000.00,1000,0.15,0.14,750000.00,675000.00,150000.00,-75000.00,10000.00,2000,0.10,0.08,2000000.00,1600000.00,300000.00,100000.00,25000.00
1,6250.00,1000,0.15,0.14,937500.00,843750.00,187500.00,-93750.00,11000.00,2000,0.10,0.08,2200000.00,1760000.00,330000.00,110000.00,16250.00
2,7812.50,1000,0.15,0.14,1171875.00,1054687.50,234375.00,-117187.50,12100.00,2000,0.10,0.08,2420000.00,1936000.00,363000.00,121000.00,3812.50
3,9765.62,1000,0.15,0.14,1464843.75,1318359.38,292968.75,-146484.38,13310.00,2000,0.10,0.08,2662000.00,2129600.00,399300.00,133100.00,-13384.37
4,12207.03,1000,0.15,0.14,1831054.69,1647949.22,366210.94,-183105.47,14641.00,2000,0.10,0.08,2928200.00,2342560.00,439230.00,146410.00,-36695.47
5,15258.79,1000,0.15,0.14,2288818.36,2059936.52,457763.67,-228881.84,16105.10,2000,0.10,0.08,3221020.00,2576816.00,483153.00,161051.00,-67830.84
6,19073.49,1000,0.15,0.14,2861022.95,2574920.65,572204.59,-286102.29,17715.61,2000,0.10,0.08,3543122.00,2834497.60,531468.30,177156.10,-108946.19
7,23841.86,1000,0.15,0.14,3576278.69,3218650.82,715255.74,-357627.87,19487.17,2000,0.10,0.08,3897434.20,3117947.36,584615.13,194871.71,-162756.16
8,29802.32,1000,0.15,0.14,4470348.36,4023313.52,894069.67,-447034.84,21435.89,2000,0.10,0.08,4287177.62,3429742.10,643076.64,214358.88,-232675.95
9,37252.90,1000,0.15,0.14,5587935.45,5029141.90,1117587.09,-558793.54,23579.48,2000,0.10,0.08,4715895.38,3772716.31,707384.31,235794.77,-322998.78
10,46566.13,1000,0.15,0.14,6984919.31,6286427.38,1396983.86,-698491.93,25937.42,2000,0.10,0.08,5187484.92,4149987.94,778122.74,259374.25,-439117.68
11,58207.66,1000,0.15,0.14,8731149.14,7858034.22,1746229.83,-873114.91,28531.17,2000,0.10,0.08,5706233.41,4564986.73,855935.01,285311.67,-587803.24

In [7]:
results.to_excel("respuesta.xlsx")

In [3]:
### SEGUNDA PARTE ####

# Cargar datos de la hoja de cálculo
contactability_scores = pd.read_csv('contactability_scores.csv')

# Parámetros
prob_pago_despues_contacto = 0.75
costo_por_llamada = 30

# Cálculos
contactability_scores['contactos_exitosos'] = contactability_scores['contactability_score']
contactability_scores['cuentas_recuperadas'] = contactability_scores['contactos_exitosos'] * prob_pago_despues_contacto
contactability_scores['deuda_recuperada'] = contactability_scores['cuentas_recuperadas'] * contactability_scores['total_debt']
contactability_scores['intereses_cobrados'] = contactability_scores['cuentas_recuperadas'] * contactability_scores['interest']

# KPI's
total_cuentas_recuperadas = contactability_scores['cuentas_recuperadas'].sum()
total_deuda_recuperada = contactability_scores['deuda_recuperada'].sum()
total_intereses_cobrados = contactability_scores['intereses_cobrados'].sum()
costo_total_campaña = len(contactability_scores) * costo_por_llamada
perdidas_DQ = contactability_scores['total_debt'].sum() - total_deuda_recuperada
ingresos_por_cobranzas = total_intereses_cobrados - costo_total_campaña

# Resultados
resultados = {
    'Cuentas_recuperadas': total_cuentas_recuperadas,
    'Deuda_total_recuperada': total_deuda_recuperada,
    'Ingresos_intereses_cobrados': total_intereses_cobrados,
    'Costo_total_campaña': costo_total_campaña,
    'Perdidas_DQ': perdidas_DQ,
    'Ingresos_por_cobranzas': ingresos_por_cobranzas
}

resultados

{'Cuentas_recuperadas': 212.02425,
 'Deuda_total_recuperada': 212024.25,
 'Ingresos_intereses_cobrados': 31803.637499999997,
 'Costo_total_campaña': 20250,
 'Perdidas_DQ': 462975.75,
 'Ingresos_por_cobranzas': 11553.637499999997}